* {
    background-color: rgb(55, 64, 82)
}

.banner {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner .product {
    /* background-color: red; */
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s;
    --left: 0px;
    display: flex;
}

.banner .product .soda {
    background: var(--url) var(--left) 0,
    url(images/can.png);
    background-size: auto 100%;
    width: 280px;
    /* height: 400px; */
    aspect-ratio: 2 / 4.07;
    background-blend-mode: multiply;
    mask-image: url(images/can.png);
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* box-shadow: 50px 50px 5px black; */
}

.banner .product:hover {
    --left: 1000px;
    transform: translateX(-50%) translateY(-120px);
}

.banner .product .soda:nth-child(2){
    opacity: 0;
    
}

.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}

.meme img {
    height: 500px;
    position: fixed;
    top: 40%;
    left: 25%;
    z-index: 1;
    background-blend-mode: screen;
}